{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <!-- CSS and JS Leaflet -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" />

    <!-- geoman -->
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    <!-- Local -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/leaflet-sidebar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/map.css') }}">


    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>

{% endblock %}

{% block content %}
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
                <li><a href="https://github.com/Turbo87/sidebar-v2" role="tab" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>

            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Flood System
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <p>Return to the <b><a href="/">home</a></b></p>
                <b> 1. Generate Geometry </b> 
                <div class="control" onclick="sendbbox()"><br>
                    <center>                        
                            <input class="button is-primary" type="submit" value='Generate AOI'>
                    </center>
                </div>

                <form method="post">
                    <label for="fname">xmin:</label><br>
                    <input type="text" id="xmin" name="xmin"><br>
                    <label for="lname">ymin:</label><br>
                    <input type="text" id="ymin" name="ymin"><br>
                    <label for="lname">xmax:</label><br>
                    <input type="text" id="xmax" name="xmax"><br>
                    <label for="lname">ymax:</label><br>
                    <input type="text" id="ymax" name="ymax"><br><br>

                    <b> 2. Range base dates </b> <br><br>

                    <input type="date" id="init_start" name="init_start" value="2019-07-22" min="2014-01-01"> -                            
                    <input type="date" id="init_last" name="init_last" value="2020-07-22" min="2014-01-01"><br><br>

                    <b> 3. Range flood dates </b> <br><br>

                    <input type="date" id="flood_start" name="flood_start" value="2018-07-22" min="2014-01-01"> -                    
                    <input type="date" id="flood_last" name="flood_last" value="2018-07-22" min="2014-01-01"><br><br>

                    <input type="submit" name="submit" value="Run Flood Model">
                </div>
                <br>

 
            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="messages">
                <h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>
        </div>
    </div>

    <div id="map" class="sidebar-map"></div>

    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', path='js/leaflet-sidebar.js') }}"></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="{{ url_for('static', path='js/bbox.js') }}"></script>
    <script src="{{ url_for('static', path='js/bbox.js') }}"></script>
    <script src="{{ url_for('static', path='js/my_map.js') }}"></script>
{% endblock %}
