{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <!-- CSS and JS Leaflet -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>

    <!-- Local -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/leaflet-sidebar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/map.css') }}">

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>

{% endblock %}

{% block content %}
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="https://github.com/csaybar/fastapi_flood" role="tab" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Waterlogging Detection System
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <p>Return to the <b><a href="/">homepage</a></b></p>
                <b> Draw a rectangle  </b> <br>
                <b> or select a default area </b><br><br>
                <select name="select" id="select">
                    <option value ="none">none</option>
                    <option value ="baumgarten">Baumgarten</option>
                    <option value ="jedenspeigen">Jedenspeigen</option>
                    <option value ="droesing">Droesing</option>
                    <option value ="hohenau">Hohenau</option>
                    <option value ="rabensburg">Rabensburg</option>
                    <option value ="duernkrut">Duernkrut</option>
                    <option value ="stillfried">Stillfried</option>
                    <option value ="marchegg">Marchegg</option>
                    <option value ="angern">Angern</option>
                </select> <br>

                    <div id="control_aoi" onclick="sendbbox()"><br>
                            <input class="button is-primary" type="submit" value='Generate AOI'>
                    </div>

                <form method="post">
                    <label for="fname">xmin:</label><br>
                    <input type="text" id="xmin" name="xmin"><br>
                    <label for="lname">ymin:</label><br>
                    <input type="text" id="ymin" name="ymin"><br>
                    <label for="lname">xmax:</label><br>
                    <input type="text" id="xmax" name="xmax"><br>
                    <label for="lname">ymax:</label><br>
                    <input type="text" id="ymax" name="ymax"><br><br>

                    <b> Range base dates </b> <br><br>

                    <input type="date" id="init_start" name="init_start" value="2020-10-10" min="2014-01-01"> -
                    <input type="date" id="init_last" name="init_last" value="2020-10-16" min="2014-01-01"><br><br>

                    <b> Range waterlogging dates </b> <br><br>

                    <input type="date" id="flood_start" name="flood_start" value="2020-10-16" min="2014-01-01"> -
                    <input type="date" id="flood_last" name="flood_last" value="2020-10-25" min="2014-01-01"><br><br>

                    <b><label for="fname">Waterlog threshold model:</label></b><br><br>
                    <input type="text" id="threshold" name="threshold" value = "1.35"><br><br>
                    <input type="submit" name="action" value="display">
                    <input type="submit" name="action" value="download">
                </div>
                <br>


            <div class="sidebar-pane" id="methodology">
                <h1 class="sidebar-header">Methodology<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="messages">
                <h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>
            
            
            <b>Flood status between:</b><br>
            <div id="result_message">
                {{flood_start}} and {{flood_last}}
            </div>
            <br>
            <b>Estimated Waterlogging extent:</b>
            <div id="result_message">
                {{flood_extent}} hectares
            </div>
            <!-- To be implemented later 
            Estimated number of exposed people: {{people_exposed}} <br>
            Estimated affected cropland: {{cropland_exposed}} <br>
            Estimated affected urban areas: {{urband_exposed}} <br><br>
            -->
            <br><br>
            <b>Disclaimer:</b> This product has been derived automatically without validation data. All geographic 
            information has limitations due to the scale, resolution, date and interpretation of the original
            source materials. No liability concerning the content or the use thereof is assumed by the producer.
            <br><br>
            This project has been inspired by <a href="https://un-spider.org/advisory-support/recommended-practices/recommended-practice-google-earth-engine-flood-mapping/step-by-step">un-spider flood mapping</a>.
        </div>
    </div>

    <div id="map" class="sidebar-map"></div>

    <script src="https://unpkg.com/leaflet@1.7.0/dist/leaflet.js"></script>
    <script src="{{ url_for('static', path='js/leaflet-sidebar.js') }}"></script>
    <!--    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>-->
    <!--    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

    <script src="{{ url_for('static', path='js/bbox.js') }}"></script>
    <script src="{{ url_for('static', path='js/my_map.js') }}"></script>
    <script type="text/javascript">
        function upgrade_map() {
            var before_waterlog = L.tileLayer("{{before_waterlog|safe}}").addTo(map);
            var after_waterlog = L.tileLayer("{{after_waterlog|safe}}").addTo(map);
            var waterlog_results = L.tileLayer("{{waterlog_results|safe}}").addTo(map);
            var baseMaps = {
                "Before waterlog": before_waterlog,
                "After waterlog": after_waterlog,
                "Final results": waterlog_results
            };

            map.setView([{{ymean}}, {{xmean}}], 15);
            L.control.layers({}, baseMaps).addTo(map);
            
            document.getElementById("xmin").value = {{xmin}};
            document.getElementById("ymin").value = {{ymin}};
            document.getElementById("xmax").value = {{xmax}};
            document.getElementById("ymax").value = {{ymax}};
            
            document.getElementById("init_start").value = "{{init_start}}";
            document.getElementById("init_last").value = "{{init_last}}";
            document.getElementById("flood_start").value = "{{flood_start}}";
            document.getElementById("flood_last").value = "{{flood_last}}";

        }
        upgrade_map()
    </script>
{% endblock %}
